body{
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}
.container{
    height: 100vh;
    width: auto;
    white-space: nowrap;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
.left{
    height: 100%;
    width: 65vw;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../img/bgc.png);
    background-position: center;
    animation: leftBoxAction 1000ms;
    background-size: cover;
}
.left::before{
    content: '';
    height: 100%;
    background-size: cover;
    overflow: hidden;
    width: 65vw;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-image: url(../img/bgc.png);
    background-position: center;
    /* background-size: 200% 200%; */
    z-index: 5;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.callBox {
    height: 100%;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.callBox p{
    color: #fff;
    position: relative;
    z-index: 10;
}
.callBoxLogin{
    animation: callBoxLogin 800ms;
    position: relative;
    z-index: 10; 
}
.callBoxLogined{
    transform: translateX(20vw);
    position: relative;
    /* animation: callBoxLogined 200ms; */
    z-index: 10;
    transition: background-color 400ms;
    background-color: rgba(0,0,0,.70);
}
.right{
    height: 100%;
    width: 75vw;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    overflow: auto;
}
.searcbox{
    
    flex-direction:row-reverse;
    animation: contentBoxAction 1000ms;
    user-select: none; 
    z-index: 11;
    display: flex;
    position: fixed;
    top: 0px;
    margin: 0px;
    right: 0px;
    width: 25vw;
    height: 55px;
    font-size:2rem; 
    text-indent:8px;  
    background-color: white;
    box-shadow: 5px 0px 10px rgba(0,0,0,.25);
    border: 0px;
}
.search{
    margin-top: 15px;
    margin-right: 20px;
    opacity: 0.5;
    display: block;
    height: 25px;
    width: 25px;
}
.search_cg{
    margin-top: 15px;
    margin-right: 20px;
    opacity: 0.5;   
    display: block;
    height: 25px;
    width: 25px;
}
.search>img,.search_cg>img{
    opacity: 0.5;
}
.search:hover{
    opacity: 1;
}
.search_cg:hover{
    opacity: 1;
}
.in{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    line-height: 25px;
}
.in_cg{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    line-height: 25px;
    display:block !important;
}
.user{
    height: auto;
    background-color: #fff;
    z-index: 9;
    width: 35vw;
    display: flex;
    animation: contentBoxAction 1000ms;
    justify-content: center;
}
.contentBox{
    display: flex;
    white-space: normal;
    /* width: 100%; */
    height: auto;
    padding:35px 8px 50px 8px;
    flex-direction:column; 
    animation: contentBoxAction 1000ms;
    /* padding-bottom: 40px; */
}
.imageBox{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right h2{
    position: fixed;
    top: 0px;
    margin: 0px;
    right: 0px;
    width: 75vw;
    height: 55px;
    font-size:2rem; 
    text-indent:8px;  
    background-color: #fff;
    box-shadow: 5px 0px 10px rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.25);
}
.right footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 75vw;
    height: 45px;
    background-color: #fff;
    box-shadow: 5px 0px 10px rgba(0,0,0,.25);
    z-index: 15;
}
.right footer nav{
    flex-direction: row;
    display: flex;
    height: 100%;
}
.right footer nav div{
    flex: 1;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-left:8px; 
    height: 100%;
}
.setKind{
    flex: 4 !important;
    align-items: center;
    justify-content: center;
    display: flex;

}
.right footer nav div button{
    background-color: #fff;
    text-align: center;
    text-indent: 0em !important;
    cursor: pointer;
}
.setKind input,.right footer nav div button{
    height: 26px;
    width: 80%;
    border-radius: 17px;
    border: 1px solid rgba(34, 34, 34, .25);
    outline: none;
    /* padding-left:2em;  */
    text-indent: 2em;
}
.uploadBox{
    position: relative !important;
    flex: 2 !important;
}
.uploadBox input{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    height: 100%;
    display: block;
    width: 100%;
    cursor: pointer;
}
.uploadBox button{
    z-index: 19;
    position: relative !important;
    justify-self: flex-start !important;
}
.loginFinish{
    width: 140vw;
    transform: translateX(-40vw);
}
.loginAnimation{
    animation: login 800ms;
}
.userInfo{
    /* height: 15vh; */
    position: relative;
    width: 100%;
    padding: 0px 8px 0px 8px; 
    z-index: 11;
}
@keyframes login{
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(-40vw);
    }
}
@-webkit-keyframes login{
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(-40vw);
    }
}
@keyframes contentBoxAction {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes contentBoxAction {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes leftBoxAction {
    from{
        transform: translateX(-20px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@-webkit-keyframes leftBoxAction {
    from{
        transform: translateX(-20px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes callBoxLogin{
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(20vw);
    }
}
@-webkit-keyframes callBoxLogin{
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(20vw);
    }
}
@keyframes callBoxLogined{
    from{
        background-color: rbga(0,0,0,0)
    }
    to{
        background-color: rgba(0,0,0,.70)
    }
}
@-webkit-keyframes callBoxLogined{
    from{
        background-color: rbga(0,0,0,0)
    }
    to{
        background-color: rgba(0,0,0,.70)
    }
}
.hiddenList{
    display: none !important;
}
.passageList{
    box-shadow: -5px 0px 5px rgba(255,255,255,.25);
    align-self: flex-start;
    position: relative;
    height: 100%;
    display: flex;
    color: #fff;
    font-family: '微软雅黑';
    overflow: hidden;
}
.sliderBox{
    flex-shrink: 0;
    margin: 0px;
    transition: margin-top 100ms;
}
.passageItem{
    width: calc(25vw - 16px);
    height: 110px;
    padding: 8px;
    flex-direction: column;
    align-self: flex-start;
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,.25);
    cursor: pointer;
    animation: passageItemAction ease-out 600ms;
}

.passageTitle,.passageKind,.passageInfo{
    flex: 1;
    display: flex;
    align-items: center
}
.passageKind span {
    font-size:14px; 
    border-radius: 19px;
    border: 1px solid rgba(255,255,255,.25);
    padding: 5px
}
.passageTitle span,.passageInfo span{
    flex:1;
}
@keyframes passageItemAction{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(0px);
    }
}
@-webkit-keyframes passageItemAction{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(0px);
    }
}